---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/ui/Nav.astro";
---

<BaseLayout title="Contact — Leni">
  <Nav />

  <main class="main">
    <h1>Contact</h1>
    <p>
        For important matters, please contact me via email at <a href="mailto:leni@leni.page">leni@leni.page</a>.<br>
        Otherwise, you can find me on the following platforms:
        <ul>
            <li>
                <a href="https://x.com/7bb14d43" target="_blank">Twitter/X</a>
            </li>
            <!--
            <li>
              <a href="https://mastodon.social/@7bb14d43" target="_blank">Mastodon</a>
            </li>
            -->
            <li>
                <a href="https://github.com/AlainMgz" target="_blank">GitHub</a>
            </li>
            <li>
              <a href="https://linkedin.com/in/alain.magazin" target="_blank">LinkedIn</a>
            </li>
        </ul>
    </p>
  </main>
</BaseLayout>